<div class="w33">
    <div class="block ~module~ ~module~-~id~" data-id="~id~" data-module="~module~">
        <!--editor-->
        <div class="white-header">
            <a href="#" data-model="modules\special_blocks\models\special_blocks" data-m-action="dynamic_edit"
               data-m-context='.block.~module~-~id~' title="*To edit*" data-m-wysiwyg="content"
                    ><i class="fa fa-edit"></i></a>
            <a class="delete" href="#" data-model="modules\special_blocks\models\special_blocks" data-m-action="dynamic_edit"
               data-m-context='.block.~module~-~id~' title="*To delete*" data-m-wysiwyg="content"
                    ><i class="fa fa-trash"></i></a>
        </div>
        <!--end editor-->
        <h2 data-edit="title">~title~</h2>
        <hr>
        <div data-edit="content" class="home-block-content">~content~<div class="clearfix"></div></div>
    </div>
</div>