<tr data-id="~id~">
    <td width="10%">
        <i class="move"></i>
        <a href="~language_prefix~/~pagename~/special-blocks/edit/~id~" title="*Edit*" class="edit"><i class="fa fa-pencil"></i></a>
        <a href="~language_prefix~/~pagename~/special-blocks/delete/~id~" title="*Delete*"
           onclick="return confirm('*Are you sure want to delete this special block*?');" class="delete"><i class="fa fa-trash-o"></i></a>
    </td>
    <td width="20%" class="text-left">
        <a href="~language_prefix~/~pagename~/special-blocks/home/page/~page~">~page_name~</a>
    </td>
    <td width="30%" class="text-left">~title~</td>
    <td width="20%" class="text-left"><a href="~link~" target="_blank">~link~</a></td>
    <td width="20%" class="text-left"></td>
</tr>