<div class="additional-links">
    <a href="~language_prefix~/~pagename~/special-blocks/add" title="*Add new special block*"><i class="fa fa-plus"></i></a>
</div>
<table cellpadding="0" cellspacing="0" class="admin-overview">
<thead>
    <tr>
        <th width="10%"></th>
        <th width="20%" class="text-left">*Page*</th>
        <th width="30%" class="text-left">*Title*</th>
        <th width="20%" class="text-left">*Link*</th>
        <th width="20%" class="text-left"></th>
    </tr>
</thead>
<tbody data-m-action="drag_sort" data-m-model="modules\special_blocks\models\special_blocks">
    ~items~
</tbody>
</table>